/* globally applied effects */
/* such as animations and interactions */
@import url('./globalVariables.css');
@import url('./index.css');

@keyframes scroll {
    0% {
        background-position: 1rem 0;
    }
    100% {
        background-position: 15rem -31rem;
    }
}

#nav,
#grid__container,
#item-center,
caption {
    filter: drop-shadow(0rem 0.3rem 0.2rem var(--shadow));
}

#nav > #drop-nav:hover {
    filter: drop-shadow(0 0 0.1rem var(--main-text-color));
}

#grid__container--row {
    border-radius: 15px;
    backdrop-filter: blur(2px);
}

#grid__container {
    animation: scroll 30s linear infinite;
    animation-direction: reverse;
}

#home__container--row-one,
#home__container--row-two {
    filter: drop-shadow(0rem 0.3rem 0.2rem var(--shadow));
}
