@import url('./index.css');
@import url('./globalEffects.css');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
/* =================================== */
/* global styles start here */
/* all styles are mobile first */
/* set alternative box model */
/* =================================== */
body {
    overflow: hidden;

    background-size: cover;
    background-position: center;
}
html {
    box-sizing: border-box !important;
    font-size: clamp(100%, 180%, 190%);
}


*, *::before, *::after {
    font-family: 'Tangerine', cursive, sans-serif, serif;
    box-sizing: inherit !important;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* root block contains the Main element */
/* grid's parent element */


/* default nav styles */
#nav {
    width: 100%;
}

#nav__list > .nav-item,
#drop-nav__list > .nav-item {
    padding-right: 1rem;
}

/* nav containers */

#nav__list--container {
    position: absolute;
    justify-content: flex-end;
    left: 14rem;
    right: 0;
    margin-left: auto;
}

/* navbar below main nav */
/* drop-nav is child of nav container */
#drop-nav {
    top: 2.5rem;
    margin-left: auto;
}

#drop-nav--container {
    background-size: contain;
    background-position: center right;
    border-radius: 15px;
    width: 7.7rem;
}

#nav > #drop-nav {
    right: 5px;
}

.register__btn {
    margin-left: -1rem;
}

.login__btn {
    margin-left: -0.3rem;
}

/* root/main container starts below */
/* top level parent is #root */
#root {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 4.5rem;
    right: 0.5rem;
    padding-left: 0;
}

/* main TOP grid below */

#grid__container {
    background-size: 90rem;
    background-attachment: fixed;
    background-position: 1rem -9rem;
    border-radius: 15px;
}


#item-left {
    padding-left: 20px;
}


#item-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

caption {
    color: var(--main-text-color);
    text-align: center;
}

/* news post container */
#news__post {
    background-size: 115% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;

}

/* news post table */
#news__post--table {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-text-color);

}

/* main content grid underneath the banner grid */
#home__container {
    display: flex;
    position: relative;
    flex-direction: column;
    left: 2rem;
    top: 25px;
    border-radius: 15px;

    background-size: cover;
    background-position: 20% 15%;
    background-repeat: no-repeat;
}

#home__container--row-one {
    background-size: 100%;
    background-position: 100% 85%;
    background-repeat: no-repeat;
}

.home__container--item {

}

#home-item-left,
#home-item-center {
    background-size: 105% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-item-left h5,
#home-item-center h5 {
    padding-top: 20px;
}

#home-item-left {

}

#home-item-center {

}

#home-item-right {

}

#home-item-right__img {
    transform: scaleX(-1);
    padding-top: 120px;
    position: relative;
    bottom: 65px;
}

#home__gear-info--list,
#home__class-info--list {
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style-position: inside;
}




/* =================================== */
/* global styles end here*/
/* =================================== */

/* =================================== */
/* global variables start here*/
/* =================================== */
:root {
    --main-bg-color: #dda15e;
    --main-text-color: #fefae0;

    --secondary-bg-color: #bc6c25;

    --tertiary-bg-color: #606c38;
    --tertiary-bg-color-second: #283618;
    --bg-low-opacity: rgba(0, 0, 0, 0.50);

    --shadow: #000000;
}
