@import url('./globalVariables.css');

/* body */
body {
    background-image: url('./img/battleground.png')
}
/* anchor element styling */
a {
    color: var(--main-text-color);
}

/* nav parent styling */
#nav {
    background: var(--main-bg-color);
}

#drop-nav--container {
    background-image: url('./img/btn_normal.png');
}

/* drop-nav styling */


#register__btn,
#login__btn {
    padding-right: 20px;
    margin: 0 auto;
}

/* root main container styling */
#root {
    color: var(--main-text-color);
    background: transparent;
}

#grid__container {
    background-image: url('https://i.ytimg.com/vi/plF8mdhANMM/maxresdefault.jpg');
}

#news__post {
    background-image: url('./img/menu_bg.png')
}

#home__container {
    background-image: url('./img/back_decor.png');

}

#home-item-left,
#home-item-center {
    background-image: url('./img/menu_bg.png');
    list-style-image: url('./img/Icons_12.png');
}


#home__container--row-one {
    background-image: url('./img/front_decor.png');
}
