@import url('../css/globalVariables.css');

#nav {
    height: 11%;
}

#forms__root {

    text-align: center;
    margin-top: 6.5rem;
    background: var(--secondary-bg-color);
    border-radius: 15px;
    width: 85%;
}