@import url('./globalVariables.css');

body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    width: 100%;

}
#story__root {
    margin-top: 4.5rem;
    width: 100vw;
    flex-direction: column;

    color: var(--main-text-color);
}

#story__root--container {
    background-image: url('./spellbookForFlare.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 450px;
    padding: 0;

}

#story__root--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#story__root--body__content {
    text-align: center;
}
